@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Roboto;
}
ol,
ul {
   list-style: none;
}
a {
   text-decoration: none;
}
.container {
   max-width: 660px;
   margin: 0 auto;
   padding: 16px;
}

.header {
   &__container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
   }

   &__title {
      font-weight: 500;
      font-size: 46px;
      line-height: 56px;
   }

   &__sup-title {
   }

   &__sup-ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
   }

   &__li {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #1a1a1a;
      span {
         font-weight: 400;
         font-size: 14px;
         line-height: 17px;
         color: #1a1a1a;
      }
   }
}
.form {
   &__wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      align-items: start;
      gap: 55px;
   }
   &__btn-box {
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      margin-top: 30px;
   }
   &__btn {
      background: #4200ff;
      border: 2px solid #4200ff;
      border-radius: 4px;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #ffffff;
      padding: 21px 90px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
   }
}
.bx-one {
   gap: 41.5px !important;
}
.input {
   &__box {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 30px;
   }
   &__item {
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 6px;
   }
   &__item-title {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #4200ff;
   }
   &__item-sup-title {
      font-weight: 400;
      font-size: 11px;
      line-height: 13px;
      color: #595959;
   }
   &__item-off {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 6px;
   }
   &__item-off-title {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
   }
}
.inp {
   background: #ffffff;
   border: 2px solid #543fd3;
   border-radius: 4px;
   padding: 20px 12px;
   height: 60px;
}

.inp-off {
   background: #ffffff;
   border: 1px solid #949494;
   border-radius: 4px;
   padding: 20px 12px;
   height: 60px;
}
.red {
   color: #ee0004;
}
.psevdo {
   display: none;
   content: "";
   width: 16px;
   height: 16px;
   background: url(../img/error\ warning.svg) no-repeat center 100% / contain;
   right: -20px;
   top: 45px;
   position: absolute;
}
